h1 {
    color:red;
    text-align: center;
    background-color: blue;
    font-size: 50px;    
}
a{
    font-size: 40px;
    background-color: burlywood;
    font-size: 20px;
}
h2 {
    color: blue;
    text-align: center;
    margin: 30px;
    font-size: 36px;
}
p {
    color: rgba(30, 128, 0, 0.938);
    margin-bottom: 25px;
}
img{
    width: 40%;
    margin-bottom: 10px;
     margin-left: 10%; 
    margin: auto;
    display: block;
}   
div{
    background-color: aquamarine;
    margin-bottom: 50px;
}
.capital-1{
    background-color: chartreuse;
}