.product {
    background-color: cadetblue;
    padding: 50px;
    margin: 10px;
    border-radius: 10px;
    width: 50%;
    justify-content: center;
}

h5{
    font-size: 36px;
    text-align: center;
}

p{
    font-size: 24px;
    text-align: center;
}