.item {
    width: 250px;
    height: 250px;
    margin: 30px;
    background-color: lightgreen;
}
.preview-images {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.preview-images img {
    width: 15%;
    margin: 10px;
}
.full-img {
    display: block;
    width: 50%;
    margin: auto;
} 