div{
    border: 1px solid black;
    margin: 10px 0;
    height: 10px;
    background-color: black;

}

.div_1{
    width: 700px;
}

.div_2{
    width: 50%;
}

.div_3{
    width: 50vw;
}

html{
    font-size: 24px;
}

body{
    /* background-color: rgba(255, 255, 255, 0.5);  0.5 - прозрачность*/
    /* background-color: rgb(red, green, blue); */
    background-color: #e7d20e;

}