*{
    margin: 0;
   
}

ul{
    padding: 10px;
}

.img{
    width: 50px;
    height: 30px;
}

h1{
    font-size: 16px;
}

h2{
    font-size: 16px;
}

table{
    border-collapse: collapse;
    border: 5px double black;
}
td{
    border: 5px double black;
}
th{
    border: 5px double black;
}